* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  background-color: rgb(241, 245, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: #fff;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid green;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.nav-centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  margin: 0 auto;
  max-width: 1170px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}

.nav-links a:hover {
  color: green;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.section-title{
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.films-centre {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(338.8px,1fr));
  margin: 4rem;
  margin: 0 auto;
  /* margin-left: 3rem;
  margin-right: 3rem; */
  grid-column-gap: 5rem;
}

.film {
  /* padding:; */
  /* box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5); */

}

.img-container img {
  height: 27rem;
  /* width: 60%; */
  /* height: 50%; */
}

.img-container {
  /* height: 30rem; */
}

.film-footer {
  padding: 1.5rem;
}

.btn {
  padding: .25rem .5rem;
  background-color: green;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
}


.search-form {
  margin-top: 3rem;
}

.search {
  margin-top: 3rem;
  margin: 0 auto;
  text-align: center;
}

label {
  font-size: 1.45rem;
}

input {
  margin-top: .5rem;
  padding: 0.5rem;
  width: 18rem;
}

.section {
  padding: 5rem 0;
}

.btnHome {
  text-align: center;
}

.movie {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0 auto;
}

.movie img {
  width: 70%;
}

.flexDiv {
  margin: 0 10rem;
}

@media screen and (max-width: 502px) {
  .movie {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
  }
  .movie-info {
    padding-top: 0;
    padding: 10px;
    text-align: left;
  }

  .flexDiv {
    margin: 0;
  }

  /* img {
    height: 25rem;
    width: 100%s;
  } */
}